[submodule "Examples/InstagramExample"]
	path = Examples/InstagramExample
	url = https://github.com/msg-ios/InstagramExample
[submodule "Examples/YelpExample"]
	path = Examples/YelpExample
	url = https://github.com/msg-ios/YelpExample
[submodule "Examples/FoursquareExample"]
	path = Examples/FoursquareExample
	url = https://github.com/msg-ios/FoursquareExample
[submodule "Examples/TumblrExample"]
	path = Examples/TumblrExample
	url = https://github.com/msg-ios/TumblrExample
